*
  box-sizing: border-box
body
  font-family: 'Roboto', sans-serif
  color: $text-main
  background-color: #F7F7F7

.container
  max-width: 1210px
  margin: 0 auto
  padding: 0 15px
img
  max-width: 100%
a
  text-decoration: none
  color: inherit
li
  list-style: none

.aside-btn
  padding: 18px 68px
  background-color: $text-gold
  border-radius: 5px
  border: none
  max-width: 244px
  font-family: Oswald
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 152%
  letter-spacing: 0.16em
  text-transform: uppercase
  color: $text-main
  cursor: pointer
  margin-top: 10px

.btn-back
  display: inline-block
  width: 66px
  height: 60px
  background-color: #403F3F
  border-radius: 5px
  padding: 23px 20px
  border: none
  margin-right: 10px
  cursor: pointer

.label-inner
  display: block
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 150%
  color: #A5A5A5
  padding: 18px 0 18px 45px
  margin-bottom: 10px
  width: 320px
  height: 60px
  border: 2px solid rgba(165, 165, 165, 0.5)
  border-radius: 2px
